---
import Layout from '../layouts/Layout.astro';

import createSlug from '../lib/utils';

import fetchApi from '../lib/strapi';
import type Article from '../interfaces/Article';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response,
  query: { populate: 'tags,media'}
});
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
		  {
			articles.map((article) => (
			  <li><a href={`/articles/${createSlug(article.attributes.title)}/`}>
				{article.attributes.title}
			  </a></li>
			))
		  }
		</ul>
	  </main>
</Layout>
