---
import Layout from '../layouts/Layout.astro';


import fetchApi from '../lib/strapi';
import type IArticle from '../interfaces/IArticle';
import Container from '../components/container.astro';
import ArticlePreview from "../components/article-preview.astro"

const articles = await fetchApi<IArticle[]>({
  endpoint: 'articles', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response,
  query: { populate: 'tags,media', 'sort[0]': 'pinned:desc', 'sort[1]': 'publishedAt:desc'},
});

const pinnedArticle = articles.find(article => article.attributes.pinned );
const otherArticles = articles.filter(article => article !== pinnedArticle);

---

<Layout title="Agir Autrement - Saint Grégoire">
	<Container>
	  <main>
		{ pinnedArticle && 
		<div class="grid gap-10 ">
					<ArticlePreview article={pinnedArticle} />
		</div>
		}
		<div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
		  {
			otherArticles.map(article => (
				<div><ArticlePreview article={article} /></div>
			))
		  }
		</div>
	  </main>
	</Container>
  </Layout>