---
import ArticlePreview from "../components/article-preview.astro";
import Container from "../components/container.astro";
import IArticle from "../interfaces/IArticle";
import Layout from "./Layout.astro";

interface Props {
	pinnedArticle: IArticle;
    otherArticles: IArticle[];
}

const { pinnedArticle, otherArticles} = Astro.props;
---
<Layout title="Agir Autrement - Saint Grégoire">
    <Container>
        <main class="grid gap-10 ">
            <ArticlePreview article={pinnedArticle} showSummary={true}/>
            <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3 items-stretch justify-stretch">
                {
                    otherArticles.map(article => (
                        <div><ArticlePreview article={article} showSummary={false} /></div>
                    ))
                }
            </div>
        </main>
    </Container>
</Layout>