---
import Layout from "../layouts/Layout.astro";

import ArticlePreview from "../components/article-preview.astro";
import Container from "../components/container.astro";
import type IArticle from "../interfaces/IArticle";
import fetchApi from "../lib/strapi";

const articles = await fetchApi<IArticle[]>({
  endpoint: "articles", // the content type to fetch
  wrappedByKey: "data", // the key to unwrap the response,
  query: {
    populate: "tags,media",
    "sort[0]": "pinned:desc",
    "sort[1]": "publishedAt:desc",
  },
});

const pinnedArticle =
  articles.find((article) => article.attributes.pinned) || articles[0];
const otherArticles = articles.filter((article) => article !== pinnedArticle);
---

<Layout title="Agir Autrement - Saint Grégoire">
  <Container>
    <main class="grid gap-8">
      <ArticlePreview article={pinnedArticle} showSummary={true} />
      <div
        class="grid items-stretch justify-stretch space-y-4 divide-y divide-gray-300 md:grid-cols-2 lg:gap-8 lg:space-y-0 lg:divide-y-0 xl:grid-cols-3"
      >
        {
          otherArticles.map((article) => (
            <div>
              <ArticlePreview article={article} showSummary={false} />
            </div>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
