---
import { Image } from "astro:assets";

import logo from "../assets/logo.png";
---

<footer
  class="mx-auto flex flex-row items-stretch justify-center gap-10 divide-x divide-white bg-green-700 p-4 text-white"
>
  <div
    class="my-auto flex h-40 w-40 items-center justify-center rounded-full bg-white px-4"
  >
    <Image src={logo} alt="Logo Agir Autrement" loading={"lazy"} />
  </div>
  <div class="px-4">
    <h2 class="text-xl font-bold">Nous rencontrer !</h2>
    <address class="mt-4 space-y-4 not-italic">
      <strong>Local de l'opposition</strong>
      <p>
        En bas de la mairie de Saint-Grégoire<br />
        Rue de l'église<br />
        35760 Saint Saint-Grégoire<br />
      </p>
      <p class="mt-4">Sur rendez vous</p>
    </address>
  </div>
  <div class="px-4">
    <h2 class="text-xl font-bold">Nous contacter !</h2>
    <address class="mt-4">
      <a
        href="mailto:agirautrementsg@gmail.com"
        class="flex flex-row items-center justify-center gap-2 underline underline-offset-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          ></path>
        </svg>
        agirautrementsg@gmail.com</a
      >
    </address>
  </div>
</footer>
