---
import Container from "./container.astro";
import { Image } from "astro:assets";

import logo from "../assets/logo.png";

interface Menu {
  label: string;
  href: string;
  external?: boolean;
  badge?: string;
}
const menu: Menu[] = [
  {
    label: "Articles",
    href: "/sg-aa/articles",
  },
  {
    label: "Le conseil municipal",
    href: "/sg-aa/tags/conseil-municipal",
  },
];

const currentPath = Astro.url.pathname;
---

<Container>
  <nav>
    <div class="flex flex-wrap items-center">
      <a
        class="h-32 w-32 rounded-full border border-gray-300 bg-white p-4"
        href="/sg-aa"
      >
        <Image src={logo} alt="Logo Agir Autrement" loading={"eager"} />
      </a>
      <div
        class="-mx-2 flex h-fit justify-start rounded-e-full border-b border-e border-t px-8 py-2 md:flex-nowrap md:gap-10"
      >
        {
          menu.map((item) => (
            <a
              href={item.href}
              class={`px-5 py-2 text-lg underline-offset-8 hover:text-green-800 hover:underline ${currentPath.indexOf(item.href) === 0 ? "text-green-800 underline " : ""}`}
            >
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </nav>

  <script is:inline>
    const menuButton = document.getElementById("menu");
    menuButton.addEventListener("click", () => {
      [...document.querySelectorAll(".navmenu-toggle")].forEach((Element) => {
        Element.classList.toggle("hidden");
      });
    });
  </script></Container
>
