---
import fetchApi from '../../lib/strapi';
import type Article from "../../interfaces/Article";
import createSlug from '../../lib/utils';
import MarkdownRenderer from '../../components/MarkdownRenderer.astro'
import Layout from '../../layouts/Layout.astro';


export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles',
    wrappedByKey: 'data',
    query: { populate: 'tags,media'}
  });

  return articles.map((article) => ({
    params: { slug: createSlug(article.attributes.title) },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
---
<Layout title={article.attributes.title}>

    <main class="container mx-auto">
      <h1>{article.attributes.title}</h1>
      <img src={`${import.meta.env.STRAPI_URL}` + article.attributes.media.data.attributes.url}>
      <div class="prose"> 
        <MarkdownRenderer markdown={article.attributes.content}>
         
        </MarkdownRenderer>
      </div>

    </main>

</Layout>