---
import fetchApi from '../../lib/strapi';
import type Article from "../../interfaces/Article";
import createSlug from '../../lib/utils';
import MarkdownRenderer from '../../components/MarkdownRenderer.astro'


export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles',
    wrappedByKey: 'data',
    query: { populate: 'tags,media'}
  });

  return articles.map((article) => ({
    params: { slug: createSlug(article.attributes.title) },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{article.attributes.title}</title>
  </head>

  <body>
    <main class="container mx-auto">
      <h1>{article.attributes.title}</h1>
      <img src={`${import.meta.env.STRAPI_URL}` + article.attributes.media.data.attributes.url}>
      <div class="prose columns-3"> 
        <MarkdownRenderer markdown={article.attributes.content}>
         
        </MarkdownRenderer>
      </div>

    </main>
  </body>
</html>../../interfaces/Artcile../../interfaces/Article